.wrapper, #root, html, body {
  height: 100%;
  margin: 0;
}

.topbar {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 5;
}

.side-panel {
  width: 250px;
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.side-panel-tab-ul {
  border-bottom: 1px solid #BFCCD6 ;
  z-index: 1;
  box-shadow:  0 0 3px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0)
}

.side-panel-tab-li {
  text-align: center;
  width: 50%;
  height: 40px;
  margin: 0;
  padding: 5px;
  margin-right: 0 !important;
}

.side-panel-tab {
  width: 250px;
  margin: 0;
  padding: 0;
  top: 40px;
  left: 0;
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  overflow-x: auto;
}

.side-list {
  margin: 0;
  padding: 0;
}

.side-list li {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #BFCCD6;
  cursor: pointer;
}

.side-list li:hover {
  background-color: #F5F8FA;
}

